# Python virtual environment
venv/

# Bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env

# macOS files
.DS_Store

# Rasa-specific files
.rasa/
models/

# Logs and databases
*.log
*.sqlite3
*.tar.gz
