# Ignore virtual environment folder
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env

# macOS files
.DS_Store

# Rasa specific cache and models
.rasa/
models/

# Logs and database files
*.log
*.sqlite3
*.tar.gz
